@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  /* color variables */
  --background: oklch(90.56% 0.0301 127.9);
  --foreground: oklch(0% 0 0);

  --header: oklch(69.09% 0.1723 125.61);
  --header-foreground: oklch(100% 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0% 0 0);

  --popup:oklch(1 0 0);
  --popup-background:oklch(0% 0 6.77 / 50%);

  /* --primary:oklch(41.49% 0.1233 145.19);
  --primary-foreground: oklch(100% 0 0); */

  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0.145 0 0);

  --secondary: oklch(41.49% 0.1233 145.19);
  --secondary-foreground: oklch(100% 0 0);

  --tertiary: oklch(57.28% 0.1893 143.11);
  --tertiary-foreground: oklch(100% 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --muted-darker: oklch(55.55% 0 0);
  --muted-darker-foreground: oklch(100% 0 0);

  --accent: oklch(78.6% 0.2278 145.4);
  --accent-foreground: oklch(100% 0 0);

  --accent-negative: oklch(58.8% 0.1571 26.31);
  --accent-negative-foreground: oklch(100% 0 0);

  --destructive: oklch(84.21% 0 0);
  --destructive-foreground: oklch(100% 0 0);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(34.68% 0.0643 142.02);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Font Families */
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: "Courier New", monospace;

  /* radius variables */
  --size-xs: 0.25rem;
  --size-sm: 0.375rem;
  --size-md: 0.5rem;
  --size-lg: 0.75rem;
  --size-xl: 1rem;
  --size-2xl: 1.5rem;
  --size-3xl: 2rem;
  --size-4xl: 2.5rem;
  --size-5xl: 3rem;
  --size-6xl: 3.5rem;
  --size-7xl: 4rem;
  --size-8xl: 4.5rem;
  --size-9xl: 5rem;
  --size-10xl: 5.5rem;
  --size-11xl: 6rem;

  --text-xxs: 0.3rem;
  --text-xs: 0.5rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3rem;
}

@media (min-width: 768px) {
  :root {
    --spacing: 0.1875rem;

    --text-xxs: 0.35rem;
    --text-xs: 0.5rem;
    --text-sm: 0.75rem;
    --text-md: 1rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 2.25rem;
    --text-3xl: 2.5rem;
    --text-4xl: 2.75rem;
    --text-5xl: 3rem;
    --text-6xl: 3rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --text-xxs: 0.5rem;
    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 2.25rem;
    --text-2xl: 2.5rem;
    --text-3xl: 3rem;
    --text-4xl: 3.5rem;
    --text-5xl: 4rem;
    --text-6xl: 3rem;
  }
}
/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-popup: var(--popup);
  --color-popup-background: var(--popup-background);

  --color-primary: var(--primary); /* Color for main buttons, */
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(
    --secondary
  ); /* Small icons, lines, active button, hover */
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(
    --tertiary
  ); /* Small icons, lines, active button, hover */
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-muted-darker: var(--muted-darker);
  --color-muted-darker-foreground: var(--muted-darker-foreground);
  --color-accent: var(--accent); /* Color for accent buttons, */
  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent); /* Color for accent buttons, */
  --color-accent-foreground: var(--accent-foreground);

  --color-accent-negative: var(
    --accent-negative
  ); /* Color for accent buttons, */
  --color-accent-negative-foreground: var(--accent-negative-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-xs: var(--size-xs);
  --radius-sm: var(--size-sm); /* most used one */
  --radius-md: var(--size-md);
  --radius-lg: var(--size-lg); /* most used one */
  --radius-xl: var(--size-xl);
  --radius-2xl: var(--size-2xl);
  --radius-3xl: var(--size-3xl);
  --radius-4xl: var(--size-4xl);
  --radius-5xl: var(--size-5xl);
  --radius-6xl: var(--size-6xl);
  --radius-7xl: var(--size-7xl);
  --radius-8xl: var(--size-8xl);
  --radius-9xl: var(--size-9xl);
  --radius-10xl: var(--size-10xl);
  --radius-11xl: var(--size-11xl);

  --text-xxs: var(--text-xxs);
  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-md: var(--text-md);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-2xl: var(--text-2xl);
  --text-3xl: var(--text-3xl);
  --text-4xl: var(--text-4xl);
  --text-5xl: var(--text-5xl);
  --text-6xl: var(--text-6xl);

  --font-open-sans: var(--font-body);
  --font-poppins: var(--font-heading);
}

@layer base {
  :root {
    --font-open-sans: "Open Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  }

  @theme {
    --color-header: #82ad0c; /* For headings, e.g. header */
    --color-button: var(--color-secondary); /* Color for main buttons */
    --color-button-submit: var(--color-tertiary);
    /* --color-button-wanted: var(--) */
    --color-accent: var(--accent);
    --color-filter-inactive: #31dd50; /* Color for product filter button when inactive */
    --color-filter-active: #0b5c1a; /* Color for product filter button when active */
    --color-allergen-filter-inactive: #cbcbcb; /* Color for allergen filter button when inactive */
    --color-allergen-filter-active: #c94f48; /* Color for allergen filter button when active */
    --color-calorie-filter-inactive: #737373; /* Color for calorie selection button (deficit, maintenance or surplus) when inactive */
    --color-calorie-filter-active: #222222; /* Color for calorie selection button (deficit, maintenance or surplus) when active */
    --color-placeholder: #a59999; /* Color for placeholder text in signup, login forms */
    --box-shadow-primary: 0px 20px 50px 4px rgba(26, 26, 26, 0.1); /* Primary shadow for elements */
  }

  * {
    @apply border-border outline-ring/50 font-open-sans;
  }

  body {
    @apply bg-background text-foreground m-0 p-0 min-h-svh;
    font-family: var(--font-open-sans);
  }
  .container {
    @apply mx-auto px-4; /* Centering with horizontal padding */
    max-width: 1200px; /* Set a max width for content */
  }

  .section-input {
    @apply flex flex-col items-center border-b-1 p-8 md:justify-between md:gap-4 md:rounded-md md:border-1 md:p-10;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins m-0 px-2;
  }
  h1 {
    @apply py-6 text-5xl;
  }
  h2 {
    @apply py-5 text-3xl;
  }
  h3 {
    @apply py-4 text-xl;
  }
  h4 {
    @apply py-3 text-lg;
  }
  h5 {
    @apply text-md py-2;
  }
  h6 {
    @apply py-1 text-sm;
  }
  p {
    @apply px-2 py-2 text-sm;
  }
  a {
    @apply px-2 py-2 text-sm;
  }
  span {
    @apply px-2 py-2 text-sm;
  }
  ul,
  ol {
    @apply py-4 pl-6;
  }

  li {
    @apply my-1;
  }
}

@layer utilities {
  .rounded-small {
    /* For small elements */
    border-radius: 6px;
  }
  /* For other elements */
  .rounded-medium {
    border-radius: 12px;
  }
  /* Specifically for product or allergen filter buttons */
  .rounded-large {
    border-radius: 16px;
  }

  .container-responsive {
    @apply mx-auto px-6 sm:px-8 lg:px-10; /* Centered container with padding */
  }
}
